.carousel{
    width: 100%;
 
}
body,html{
  overflow-x: hidden;
  /* width: 100vh; */
}
.carousel-item .img{
    /* width: 70%; */
    height: 91vh;
    background-image:linear-gradient(to top, #edde5d7c, #f096193b),
    url('../images/gallery_img_4.jpg');
    /* position: relative; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
    background-size: cover;
  color: white; 

}
.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
.carousel-caption
.img-gradient {
    position:relative;
  }
  
  .carousel-caption .button button{
    border-radius: 20px !important;
  }
  
  .img-gradient .carousel-caption{
      width: 71%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
     
  }


/* count css */
.count {
  height: 200px;
 
}
.count_numbers{
  color: black;
}
.count_parents {
  width: 100%;
  /* height: 100px; */
  /* margin-bottom: 60px; */
  
  border-radius: 12px;
  
  
}
.count_users {
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}
.count_numbers {
  font-weight: 1000;
}
.count_numbers h2 {
  font-weight: 1000;
  height: auto;
}
.inside_counter {
  width: 100%;
  /* height: 200px]; */
  /* margin-bottom: 90px; */
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  justify-content: center;
  align-items: center;

  padding: 5px;
  background:#ebc11900;  

}
.inside_counter span {
  width: 0px;
  height: 60%;

}
.count_box {
  width: 20%;
  height: 100%;

  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count_box img {
  margin: 0px 5px;
}
.about_content_box {
  display: flex;

}
.sec1{
  margin: 15px;padding: 10px;
}
.main_div_about{
  flex-direction: row;
  justify-content: space-between;

}
.count_box .about_content_box .count_numbers h2 {
  text-align: center;
}
._count_upper_section1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.gradient-text {
  
  background-color: red;


  background-image: linear-gradient(to right, rgb(4, 0, 76), #b20a2c);

  background-size: 100%;
  background-repeat: repeat;



  -webkit-text-fill-color: transparent;
}
.title_rating {
  font-size: x-small;
  color: black;
  
}
/* donation card css */
.about_donation{
  width: 80%;
  text-align: justify;
}
.donation_background{
   
        width: 100%;
        height: 100vh;
        margin-bottom: 60px;
        
        background-image: url("../images/gallery_img_3.jpg") ;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
       
       
      }
.gradient_for_donation_card{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.807));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image_carousel_box .card{
    width: 300px;
    height: 300px;
    border: 0px;
    margin: 15px;
   
}

.image_carousel_box .card .card-img-top{
    width: 100%;
    height: 300px;
    border : 3px solid #ebc219;
    border-radius: 10px;
}
.text-yellow{
  color: #ebc219;
  /* background-color: #ebc219; */
}
.image_carousel_box{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

   align-items: center;
}

/* brand name css  */
.brand_names{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border-radius: 10px; */
}
.brand_names img{
  margin: 0px;
}
/* css for gallery section */
.gallery_section{
  margin:auto;
}
.gallery_section_img{
  display: flex;
  flex-direction: column;
}
.gallery_section_img img{
  width: 25%;
  cursor: pointer;
}
.hoverimage:hover{
  transform: scale(1.2)  ;
  transition: all 0.2s 0s ease-in-out;
  /* border: #b20a2c 10px solid; */
}

.brand_name_title{
  text-align: center;
  font-size: 35px;
}

/* css for join us  */
.content{
  width: 60%;
  
}
.content_about, .image_about{
  width: 45%;
}
.image_about img{
  width: 60%;
}
.headings_about_us h5 ,
.headings_about_us h1{
  text-align: center;
}
.heading_contact h5 ,
.heading_contact h1{
  text-align: center;
}
@media only screen and (max-width: 425px) {
 
  .brand_names{
    flex-direction: column;
  }
}





/* css for footer*/
.map{
  flex-direction: row-reverse;
  justify-content: center;
  
}
.map img{
  width: 40%;
  height: 40%;
  justify-self: center;

}


.contact-us .contact_us_form{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.contact-us .contact_us_form ::placeholder{
 color: black;

}
.contact-us .contact_us_form input{
  width: 100%;
  border: 0px ;
  margin: 5px;
  padding: 5px;

  background-color:#ebc219;}
.input_box_1{
  width: 92%;
}
.input_box_2{
  width: 92%;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us .contact_us_form textarea{
  width: 90%;
  margin: 15px;
  border: 0px;
  padding: 12px;
  background-color:#ebc219;}
  .contact_us_form .button{
    width: 80%;

  }
  .contact_us_form .button button{
    background-color: #ebc219;
    border: 0px;
    color: black;
  }
  footer .line{
    width: 100%;
    height: 0%;
    background-color: #eec417;
    border: 6px solid #eec417    ;
}

/* merchandise css */
.merchandise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.merchandise_main_box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.merchandise_main_box .merchandise_content{
  width: 50%;
}
.merchandise_main_box .line{
  position:absolute;
  margin-top: 250px;
  height: 100px;
  /* top: 300px; */
  display: flex;
  align-items: center;
  justify-content:center ;
}
.merchandise_main_box .line button{
  height: 70%;
}

.merchandise_main_box img{
  z-index: 1;
}
.footer .contact_information{
  width: 40%;
}
.footer_2 div{
  width: 30%;
  font-size:15px;
}
.footer{
  font-size: 15px;
}
.footer h5{
  font-size:22px;
  margin: 10px;
  padding: 5px;
  color: white;
  
}
.footer_2 .email input{
    width: 150px;
}
.footer{
  color: #bdbead;
}
.contact_information .line{
height: 0.5px;
border: 0.5px;
color: #bdbead ;
background-color: #bdbead74;
width: 90%;
justify-self: center;
margin: 15px;
}
.footer_section_2 li{
  margin: 20px 10px;
}
.main_Feature ul{
  margin: 0px;
  padding: 0;
}
.footer_section_2 .line{
  height: 0.5px;
border: 0.5px;
color: #bdbead ;
background-color: #bdbead74;
width: 90%;
justify-self: center;
margin: 30px 15px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 540px) { 

 
 .count_box{
   width: 104%;
 }
.inside_counter{
  flex-direction: row;
}
   ._count_upper_section1{
    flex-direction:column;
    width: 50%;
  }
  .count , .count_parents,.count_users , .inside_counter{
    height: unset;
  }
  .gallery_section_img{
    flex-direction: row;

  }
  .gallery_section_1 ,.gallery_section_2 {
    display: flex;
    flex-direction: column;
  }
  .gallery_section_img img{
    width: 100%;
  }
  .main_div_about {
    flex-direction: column-reverse;
    justify-content: center ;
    align-items: center;
    display: flex;
  }
  .image_about img{
    width: 100%;
  }
  .content_about{
    width: 100%;
    justify-content: center;
    align-items: center;

  }
    .image_about{
    width: 100%;
    padding: 20px 0px;
  }
  .merchandise h3{
    font-size: smaller;
  }
  .merchandise h1{
    font-size: 25px;
  }
  .merchandise_main_box {
    flex-direction: column;
  }
  .merchandise_main_box .merchandise_content{
    width: 100%;  }
    .merchandise_main_box .line{
      position: relative;
      margin: 0px;
      align-items: center;

    }
  .join_us{
    flex-direction: column;
  }
  .join_us .content{
    width: 90%;
  }
  .join_us .button{
    justify-content: center;
    display: flex;
  }
  .map{
    flex-direction: column;
  }
  .map img{
    width: 100%;
  }
  .footer{
    flex-direction:column;
  }
  .footer .contact_information{
    width: 100%;
  }
  .footer_2{
    flex-direction: column;
  }
  .footer_2 div{
    width: 100%;
  }
}