.carousel{
    width: 100%;
 
}
.carousel-item .img{
    /* width: 70%; */
    height: 91vh;
    background-image:linear-gradient(to top, #edde5d7c, #f096193b),
    url('../images/gallery_img_4.jpg');
    /* position: relative; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
    background-size: cover;
  color: white; 

}
.carousel-caption
.img-gradient {
    position:relative;
  }
  
  
  
  .img-gradient .carousel-caption{
      width: 71%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
     
  }



.count {
  height: 150px;
}
.count_parents {
  width: 80%;
  height: 100px;
  margin-bottom: 60px;
  
  border-radius: 12px;
  background-image: url("../images/1.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.count_users {
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}
.count_numbers {
  font-weight: 1000;
}
.count_numbers h2 {
  font-weight: 1000;
  height: auto;
}
.inside_counter {
  width: 100%;
  height: 100px;
  margin-bottom: 90px;
  
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  background: #f096195e;  
background: -webkit-linear-gradient(to top, #edde5d97, #f0961900);  
background: linear-gradient(to top, #edde5d97, #f096196b)
}
.inside_counter span {
  width: 0px;
  height: 60%;

}
.count_box {
  width: 20%;
  height: 100%;

  margin: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count_box img {
  margin: 0px 5px;
}
.about_content_box {
  display: flex;
}
.count_box .about_content_box .count_numbers h2 {
  text-align: center;
}

.gradient-text {
  
  background-color: red;


  background-image: linear-gradient(to right, rgb(4, 0, 76), #b20a2c);

  background-size: 100%;
  background-repeat: repeat;



  -webkit-text-fill-color: transparent;
}
.title_rating {
  font-size: x-small;
}
/* donation card css */

.donation_background{
   
        width: 100%;
        height: 80vh;
        margin-bottom: 60px;
        
        background-image: url("../images/gallery_img_3.jpg") ;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
       
       
      }
.gradient_for_donation_card{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.807));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image_carousel_box .card{
    width: 300px;
    height: 300px;
    border: 0px;
    margin: 15px;
   
}

.image_carousel_box .card .card-img-top{
    width: 100%;
    height: 300px;
    border : 3px solid #ebc219;
    border-radius: 10px;
}
.text-yellow{
  color: #ebc219;
  /* background-color: #ebc219; */
}
.image_carousel_box{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

   align-items: center;
}

/* brand name css  */
.brand_names{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border-radius: 10px; */
}
.brand_names img{
  margin: 0px;
}
/* css for gallery section */
.gallery_section{
  margin:auto;
}
.gallery_section_img img{
  width: 25%;
  cursor: pointer;
}
.hoverimage:hover{
  transform: scale(1.2)  ;
  transition: all 0.2s 0s ease-in-out;
  /* border: #b20a2c 10px solid; */
}

/* css for join us  */
.content{
  width: 60%;
  
}
.content_about, .image_about{
  width: 45%;
}
.headings_about_us h5 ,
.headings_about_us h1{
  text-align: center;
}
.heading_contact h5 ,
.heading_contact h1{
  text-align: center;
}
@media only screen and (max-width: 425px) {
 
  .brand_names{
    flex-direction: column;
  }
}





/* css for footer*/
.map{
  flex-direction: row-reverse;
  justify-content: space-between;
  
}
.map img{
  width: 50%;

}


.contact-us .contact_us_form{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.contact-us .contact_us_form ::placeholder{
 color: black;

}
.contact-us .contact_us_form input{
  width: 100%;
  border: 0px ;
  margin: 5px;
  padding: 5px;

  background-color:#ebc219;}
.input_box_1{
  width: 92%;
}
.input_box_2{
  width: 92%;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us .contact_us_form textarea{
  width: 90%;
  margin: 15px;
  border: 0px;
  padding: 12px;
  background-color:#ebc219;}
  .contact_us_form .button{
    width: 80%;

  }
  .contact_us_form .button button{
    background-color: #ebc219;
    border: 0px;
    color: black;
  }
  footer .line{
    width: 100%;
    height: 0%;
    background-color: #eec417;
    border: 6px solid #eec417    ;
}

/* merchandise css */
.merchandise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.merchandise_main_box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.merchandise_main_box .merchandise_content{
  width: 50%;
}
.merchandise_main_box .line{
  position:absolute;
  margin-top: 250px;
  /* top: 300px; */
}
.merchandise_main_box .line2{
  margin-top: 300px;
}
.merchandise_main_box img{
  z-index: 1;
}